Repository Moebius-Order/Novel-PMUIG-Chapters-json, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ihelloeveryone, @jpgmv20, @ZIIIul, @Moebius-Order/core-team

Initial commit
  CONTRIBUTING.md
Owners: @ihelloeveryone, @jpgmv20, @ZIIIul, @Moebius-Order/core-team

Initial commit
  .github/workflows/json-validate.yml
Owners: @ihelloeveryone

Initial commit
  .github/workflows/json-validate.yml
Owners: @ihelloeveryone

Initial commit
  .github/workflows/auto-label.yml
Owners: @ihelloeveryone

Initial commit
  .github/workflows/auto-label.yml
Owners: @ihelloeveryone

Initial commit
  .github/workflows/greetings.yml
Owners: @ihelloeveryone

Initial commit
  SECURITY.md
Owners: @ihelloeveryone, @jpgmv20, @ZIIIul, @Moebius-Order/core-team

Initial commit
  SECURITY.md
Owners: @ihelloeveryone, @jpgmv20, @ZIIIul, @Moebius-Order/core-team

Initial commit
  .github/dependabot.yml
Owners: @ihelloeveryone

Update json-validate.yml
  .github/workflows/json-validate.yml
Owners: @ihelloeveryone

Initial commit
  .github/FUNDING.yml
Owners: @ihelloeveryone

Initial commit
  .github/FUNDING.yml
Owners: @ihelloeveryone

Initial commit
  .github/FUNDING.yml
Owners: @ihelloeveryone

Initial commit
  .github/workflows/json-validate.yml
Owners: @ihelloeveryone

Initial commit
  .github/workflows/json-validate.yml
Owners: @ihelloeveryone

Initial commit
  chapters/chapter_04.json
Owners: @ihelloeveryone, @jpgmv20

Delete .github/workflows/json-validate.yml
  .github/workflows/json-validate.yml
Owners: @ihelloeveryone

Chapter 4 (#6)
  chapters/chapter_04.json
Owners: @ihelloeveryone, @jpgmv20

Initial commit
  .github/workflows/auto-label.yml
Owners: @ihelloeveryone

Initial commit
  .github/workflows/auto-label.yml
Owners: @ihelloeveryone

Development Branch (#8)
  .github/dependabot.yml
  .github/workflows/auto-label.yml
  .github/workflows/greetings.yml
  .github/workflows/json-validate.yml
  SECURITY.md
  chapters/chapter_04.json
Owners: @ihelloeveryone, @jpgmv20, @ZIIIul, @Moebius-Order/core-team

Update chapter_04.json
  chapters/chapter_04.json
Owners: @ihelloeveryone, @jpgmv20

Create chapter_05.json
  chapters/chapter_05.json
Owners: @ihelloeveryone, @jpgmv20

Create chapter_06.json
  chapters/chapter_06.json
Owners: @ihelloeveryone, @jpgmv20

Create chapter_07.json
  chapters/chapter_07.json
Owners: @ihelloeveryone, @jpgmv20

Create chapter_08.json
  chapters/chapter_08.json
Owners: @ihelloeveryone, @jpgmv20

Create chapter_09.json
  chapters/chapter_09.json
Owners: @ihelloeveryone, @jpgmv20

Create chapter_10.json
  chapters/chapter_10.json
Owners: @ihelloeveryone, @jpgmv20

Create chapter_11.json
  chapters/chapter_11.json
Owners: @ihelloeveryone, @jpgmv20

Create chapter_12.json
  chapters/chapter_12.json
Owners: @ihelloeveryone, @jpgmv20

Create chapter_13.json
  chapters/chapter_13.json
Owners: @ihelloeveryone, @jpgmv20

Create chapter_14.json
  chapters/chapter_14.json
Owners: @ihelloeveryone, @jpgmv20

Create chapter_15.json
  chapters/chapter_15.json
Owners: @ihelloeveryone, @jpgmv20

Create chapter_16.json
  chapters/chapter_16.json
Owners: @ihelloeveryone, @jpgmv20

Create chapter_17.json
  chapters/chapter_17.json
Owners: @ihelloeveryone, @jpgmv20

Create chapter_18.json
  chapters/chapter_18.json
Owners: @ihelloeveryone, @jpgmv20

Create chapter_19.json
  chapters/chapter_19.json
Owners: @ihelloeveryone, @jpgmv20

Update print statement from 'Hello' to 'Goodbye'
  chapters/chapter_174.json
Owners: @ihelloeveryone, @jpgmv20

Update print statement from 'Hello' to 'Goodbye'
  chapters/chapter_175.json
Owners: @ihelloeveryone, @jpgmv20

Iselle
  charchters/iselle/persona.json
Owners: @ihelloeveryone, @jpgmv20, @ZIIIul, @Moebius-Order/core-team

.github/CODEOWNERS:

# ────────────────────────────────
#  CODEOWNERS — NOVEL TO JSON | PROJECT QUANTUM AI 
# ────────────────────────────────

# Core repository management
* @ihelloeveryone @jpgmv20 @ZIIIul @Moebius-Order/core-team

# JSON Chapters
/chapters/ @ihelloeveryone @jpgmv20

# Development Scripts
/scripts/ @ZIIIul

# Documentation and configuration
/docs/ @Moebius-Order/core-team
/.github/ @ihelloeveryone
