Repository Moebius-Order/Novel-PMUIG-Chapters-json, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ihelloeveryone, @jpgmv20, @ZIIIul, @Moebius-Order/core-team

Iselle
  charchters/iselle/persona.json
Owners: @ihelloeveryone, @jpgmv20, @ZIIIul, @Moebius-Order/core-team

Update persona.json
  charchters/iselle/persona.json
Owners: @ihelloeveryone, @jpgmv20, @ZIIIul, @Moebius-Order/core-team

Update issue templates
  .github/ISSUE_TEMPLATE/convert-novel-to-json.md
Owners: @ihelloeveryone

Create chapter_176.json
  chapters/chapter_176.json
Owners: @ihelloeveryone, @jpgmv20

hotfix: characters folder name typo
  characters/iselle/persona.json
Owners: @ihelloeveryone, @jpgmv20, @ZIIIul, @Moebius-Order/core-team

hotfix: characters folder name typo (#13)
  characters/iselle/persona.json
Owners: @ihelloeveryone, @jpgmv20, @ZIIIul, @Moebius-Order/core-team

.github/CODEOWNERS:

# ────────────────────────────────
#  CODEOWNERS — NOVEL TO JSON | PROJECT QUANTUM AI 
# ────────────────────────────────

# Core repository management
* @ihelloeveryone @jpgmv20 @ZIIIul @Moebius-Order/core-team

# JSON Chapters
/chapters/ @ihelloeveryone @jpgmv20

# Development Scripts
/scripts/ @ZIIIul

# Documentation and configuration
/docs/ @Moebius-Order/core-team
/.github/ @ihelloeveryone
