Repository Moebius-Order/Novel-PMUIG-Chapters-json, changes with the labels that .github/labeler.yml gives for each.
All labels: chapter, documentation, config, priority-high

.github/labeler.yml:

chapter:
  - "chapters/**"

documentation:
  - "docs/**"

config:
  - ".github/**"

priority-high:
  - "chapters/chapter_0*.json"

Iselle
  charchters/iselle/persona.json
Labels: none

Update persona.json
  charchters/iselle/persona.json
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/convert-novel-to-json.md
Labels: config

Create chapter_176.json
  chapters/chapter_176.json
Labels: chapter

hotfix: characters folder name typo
  characters/iselle/persona.json
Labels: none

hotfix: characters folder name typo (#13)
  characters/iselle/persona.json
Labels: none
