Repository Moebius-Order/Novel-PMUIG-Chapters-json, changes with the labels that .github/labeler.yml gives for each.
All labels: chapter, documentation, config, priority-high

Initial commit
  CONTRIBUTING.md
Labels: none

Initial commit
  .github/workflows/json-validate.yml
Labels: config

Initial commit
  .github/workflows/json-validate.yml
Labels: config

Initial commit
  .github/workflows/auto-label.yml
Labels: config

Initial commit
  .github/workflows/auto-label.yml
Labels: config

Initial commit
  .github/workflows/greetings.yml
Labels: config

Initial commit
  SECURITY.md
Labels: none

Initial commit
  SECURITY.md
Labels: none

Initial commit
  .github/dependabot.yml
Labels: config

Update json-validate.yml
  .github/workflows/json-validate.yml
Labels: config

Initial commit
  .github/FUNDING.yml
Labels: config

Initial commit
  .github/FUNDING.yml
Labels: config

Initial commit
  .github/FUNDING.yml
Labels: config

Initial commit
  .github/workflows/json-validate.yml
Labels: config

Initial commit
  .github/workflows/json-validate.yml
Labels: config

Initial commit
  chapters/chapter_04.json
Labels: chapter, priority-high

Delete .github/workflows/json-validate.yml
  .github/workflows/json-validate.yml
Labels: config

Chapter 4 (#6)
  chapters/chapter_04.json
Labels: chapter, priority-high

Initial commit
  .github/workflows/auto-label.yml
Labels: config

Initial commit
  .github/workflows/auto-label.yml
Labels: config

Development Branch (#8)
  .github/dependabot.yml
  .github/workflows/auto-label.yml
  .github/workflows/greetings.yml
  .github/workflows/json-validate.yml
  SECURITY.md
  chapters/chapter_04.json
Labels: chapter, config, priority-high

Update chapter_04.json
  chapters/chapter_04.json
Labels: chapter, priority-high

Create chapter_05.json
  chapters/chapter_05.json
Labels: chapter, priority-high

Create chapter_06.json
  chapters/chapter_06.json
Labels: chapter, priority-high

Create chapter_07.json
  chapters/chapter_07.json
Labels: chapter, priority-high

Create chapter_08.json
  chapters/chapter_08.json
Labels: chapter, priority-high

Create chapter_09.json
  chapters/chapter_09.json
Labels: chapter, priority-high

Create chapter_10.json
  chapters/chapter_10.json
Labels: chapter

Create chapter_11.json
  chapters/chapter_11.json
Labels: chapter

Create chapter_12.json
  chapters/chapter_12.json
Labels: chapter

Create chapter_13.json
  chapters/chapter_13.json
Labels: chapter

Create chapter_14.json
  chapters/chapter_14.json
Labels: chapter

Create chapter_15.json
  chapters/chapter_15.json
Labels: chapter

Create chapter_16.json
  chapters/chapter_16.json
Labels: chapter

Create chapter_17.json
  chapters/chapter_17.json
Labels: chapter

Create chapter_18.json
  chapters/chapter_18.json
Labels: chapter

Create chapter_19.json
  chapters/chapter_19.json
Labels: chapter

Update print statement from 'Hello' to 'Goodbye'
  chapters/chapter_174.json
Labels: chapter

Update print statement from 'Hello' to 'Goodbye'
  chapters/chapter_175.json
Labels: chapter

Iselle
  charchters/iselle/persona.json
Labels: none

.github/labeler.yml:

chapter:
  - "chapters/**"

documentation:
  - "docs/**"

config:
  - ".github/**"

priority-high:
  - "chapters/chapter_0*.json"
